In [1]:
#1. 1. What exactly is []?

##Solution: Empty List created using square brackets []. Empty list generally contains no value or items.

In [2]:
#2. In a list of values stored in a variable called spam, 
    #how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.).
    #Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
    
##Solution: 
spam = [2, 4, 'hello', 6, 8, 10]
spam[2]

'hello'

In [3]:
#3. What is the value of spam[int(int('3' * 2) / 11)]?
#spam ['a', 'b', 'c', 'd'] 
spam = ['a', 'b', 'c', 'd']
##Solution: 'd' is the answer

In [4]:
int('3' * 2) / 11

3.0

In [5]:
int(3.0)

3

In [6]:
int(3)

3

In [7]:
#4. What is the value of spam[-1]?
spam = ['a', 'b', 'c', 'd']
spam[-1]

##Solution: 'd'

'd'

In [8]:
#5. What is the value of spam[:2]?
spam = ['a', 'b', 'c', 'd'] #index starts from 0,1,2,3. so [:2] means excluding 2nd index, 0 and 1st index will be considered.
spam[:2]

##Solution: 
            #['a','b']

['a', 'b']

In [9]:
#Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

#6. What is the value of bacon.index('cat')?

##Solution:
bacon = [3.14, 'cat', 11, 'cat', True] #index starts from 0,1,2,3,4. As 'cat' is mentioned in 1st index, answer is 1.
bacon.index('cat')

1

In [10]:
#7. How does bacon.append(99) change the look of the list value in bacon?

bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99) #append adds value to the end of the given list
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [11]:
#8. How does bacon.remove('cat') change the look of the list in bacon?

bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon #remove() method removes the first 'cat' term from the list, if we run the method again, it removes the next 'cat' term from the list.

[3.14, 11, 'cat', True]

In [12]:
#9. What are the list concatenation and list replication operators?

## Operator for list concatenation is "+" and list replication is "*"
print('A'+'B')
print('A'*2)
print('B'*2)

AB
AA
BB

In [13]:
#10. What is difference between the list methods append() and insert()?

## append() method adds to the list of values only at the end
## insert() method allows the user to add values at any specified index/position/location

## for example

C = ['Physics','Chemistry','Maths','Science'] #append() method
C.append('Social Science')
C

['Physics', 'Chemistry', 'Maths', 'Science', 'Social Science']

In [14]:
C.insert(1,'Biotechnology') #insert() method
C

['Physics', 'Biotechnology', 'Chemistry', 'Maths', 'Science', 'Social Science']

In [15]:
#11. What are the two methods for removing items from a list?

## remove(), pop(), clear()

#for example
D = ['a','b','c','d','e']
D.remove('a')
D

['b', 'c', 'd', 'e']

In [17]:
D = ['a','b','c','d','e']
D.pop()
D

['a', 'b', 'c', 'd']

In [19]:
D = ['a','b','c','d','e']
D.clear()
D

[]

In [21]:
#12. Describe how list values and string values are identical.

### List                       |    String

List is a sequence             | String is a sequence

Mutable, i.e. make changes     | Immutable i.e. make no changes in list

Contains elements of different types | Contains only characters

In [22]:
#13. What's the difference between tuples and lists?

Tuples           |    List

Immutable        |  Mutable

Represented as () | Represented as []

In [37]:
#14. How do you type a tuple value that only contains the integer 42?
tuple('42')
tuple('42',)

('4', '2')

In [38]:
#15. How do you get a list value's tuple form? How do you get a tuple value's list form?

##Solution: tuple() and list() respectively

In [40]:
#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

##Solution: Contains references to the list

In [54]:
#How do you distinguish between copy.copy() and copy.deepcopy()?
## Solution: copy() creates reference to original copy
   ## deepcopy() adds new objects to the original copy

import copy
list1 = ['a','b',['c','d'],'e']
list2 = copy.copy(list1)
print("list2 id: ", id(list2), "Value: ", list2)
list3 = copy.deepcopy(list1)
print("list3 id: ", id(list3), "Value: ", list3)

list2 id:  140240067061232 Value:  ['a', 'b', ['c', 'd'], 'e']
list3 id:  140239933536608 Value:  ['a', 'b', ['c', 'd'], 'e']